client/dist/bundle/
package-lock.json

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test